In [25]:
##1. Print all even numbers between 1 and n.
nums=int(input())

for i in range(0,nums+1):
    if i%2==0:
        print(i,end='  ')

0  2  4  6  8  10

In [ ]:
##2. Count the digits in an integer.
nums = int(input())

count=0

for i in str(nums):
    count+=1

print(count)

No input provided.

In [ ]:
user_input = input("Enter an integer: ")

if user_input.strip() == "":
    print("No input provided.")
else:
    try:
        nums = int(user_input)
        count = 0
        for i in str(abs(nums)):  # abs() to handle negative numbers
            count += 1
        print("Number of digits:", count)
    except ValueError:
        print("Invalid input. Please enter a valid integer.")

In [37]:
##3. Calculate the sum of digits in a number.
num = int(input())
total = 0

for i in str(abs(num)):
    total+=int(i)

print(total)

45

In [ ]:
##4. Create a list of squares from 1 to n.
n = int(input())
for i in range(1,n+1):
    print(i*i, end = " ")

1 4 9

In [33]:
##5. Find the difference between the sum of even and odd numbers in a list.

nums = [1,2,3,4,5,6,7,8,9,10]
sume = 0
sumo = 0
for i in nums:
    if i%2==0:
        sume=sume+i
    else:
        sumo=sumo+i
difference = sume-sumo
print(difference)
print(sume)
print(sumo)

5
30
25

In [35]:
##6. Print elements of a list in reverse without using reverse().
lst = [1,2,3,4,5,6,7,8,9]
lst.reverse()
print(lst)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [36]:
##7. Find and print all numbers divisible by 3 or 5 from 1 to 100.
for i in range(1,101):
    if i%3==0 or i%5==0:
        print(i,end=" ")

3 5 6 9 10 12 15 18 20 21 24 25 27 30 33 35 36 39 40 42 45 48 50 51 54 55 57 60 63 65 66 69 70 72 75 78 80 81 84 85 87 90 93 95 96 99 100

In [45]:
##8. Find the minimum value in a list without using min().
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

min_val = lst[0]

for num in lst:
    if num < min_val:
        min_val = num

print("Minimum value:", min_val)

Minimum value: 0

In [9]:
##9. Check whether an integer is prime.

In [2]:
##10.Print a right-angled triangle pattern of stars * for n rows.
n = int(input())

for i in range(1,n+1):
    print("*"*i)

*
**
***
****
*****

In [12]:
##11. Count the number of words in a string.
n = input("Enter a sentence: ")
words = n.split()
count = len(words)
print("Number of words:", count)

Number of words: 1

In [5]:
##12. Remove all spaces from a string.
n = input("Enter a string: ")
result = n.replace(" ", "")
print(result)

shikhar

In [6]:
##13. Print the characters in a string that occur more than once.

n = input("Enter a string: ")
freq = {}

for char in n:
    if char in freq:
        freq[char] += 1
    else:
        freq[char] = 1
print("Characters that occur more than once:")
for char, count in freq.items():
    if count > 1:
        print(char)

Characters that occur more than once:
h

In [ ]:
##14. Replace vowels in a string with a *.
n = input()
result=""
for i in n:
    if i in "aeiou":
      result+= "*"
    else:
       result+=i

print(result)

H*ll* w*rld

In [7]:
##15. Convert a list of strings to a single string separated by -.

lst = ["apple", "banana", "cherry"]
result = "-".join(lst)
print(result)

apple-banana-cherry

In [8]:
##16. Find all indices of a value in a list.
def find_indices(lst, value):
    return [i for i, x in enumerate(lst) if x == value]
lst = [1, 2, 3, 2, 4, 2, 5]
value = 2
indices = find_indices(lst, value)
print(indices)

[1, 3, 5]

In [9]:
##17. Reverse the digits of a number using a loop.
n = int(input("Enter a number: "))
rev = 0

while n > 0:
    digit = n % 10      
    rev = rev * 10 + digit  
    n = n // 10          

print("Reversed number:", rev)

Reversed number: 54321

In [10]:
##18. Check if all characters in a string are alphabets.

n = input("Enter a string: ")

if n.isalpha():
    print("All characters are alphabets.")
else:
    print("The string contains non-alphabet characters.")

All characters are alphabets.

In [11]:
##19. Convert a sentence to title case manually.
sentence = input("Enter a sentence: ")
words = sentence.split()
title_case = ""

for word in words:
    title_case += word[0].upper() + word[1:].lower() + " "

print("Title case sentence:", title_case.strip())

Title case sentence: Shikhar

In [43]:
##20. Print multiplication table of a number up to 10.
num = int(input())

for i in range(1,11): 
    mul = num*i
    print(f"{num}*{i}={mul}")

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20